Repository j-irion/sksys: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-aggregator, build-ingester, check-aggregator, check-ingester, validate-terraform 1/3, validate-terraform 2/3, validate-terraform 3/3

build-aggregator:
  image: rust:$RUST_MSRV-alpine
  stage: build
  before_script:
  - apk add --no-cache sccache musl-dev openssl-dev
  script:
  - cargo build -p aggregator --locked

build-ingester:
  image: rust:$RUST_MSRV-alpine
  stage: build
  before_script:
  - apk add --no-cache sccache musl-dev openssl-dev
  script:
  - cargo build -p ingester --locked

check-aggregator:
  image: rust:$RUST_MSRV-alpine
  stage: lint
  before_script:
  - apk add --no-cache sccache musl-dev openssl-dev
  script:
  - rustup component add clippy
  - cargo clippy -p aggregator --locked

check-ingester:
  image: rust:$RUST_MSRV-alpine
  stage: lint
  before_script:
  - apk add --no-cache sccache musl-dev openssl-dev
  script:
  - rustup component add clippy
  - cargo clippy -p ingester --locked

validate-terraform 1/3:
  image: alpine
  stage: lint
  before_script:
  - apk add --no-cache terraform
  script:
  - terraform -chdir=infra/dev init
  - terraform -chdir=infra/dev validate

validate-terraform 2/3:
  image: alpine
  stage: lint
  before_script:
  - apk add --no-cache terraform
  script:
  - terraform -chdir=infra/gitlab-runner init
  - terraform -chdir=infra/gitlab-runner validate

validate-terraform 3/3:
  image: alpine
  stage: lint
  before_script:
  - apk add --no-cache terraform
  script:
  - terraform -chdir=infra/gitlab-runner init
  - terraform -chdir=infra/gitlab-runner validate

feat: better error handling
  backend/ingester/src/main.rs
Due: build-ingester, check-ingester

chore: thx prettier
  frontend/client/src/App.vue
Due: none

fix(ingester/swagger): add missing body definition
  backend/ingester/swagger.json
Due: build-ingester, check-ingester

fix(ingester): use unix seconds instead of some date format
  backend/ingester/src/main.rs
Due: build-ingester, check-ingester

fix(aggregator): update Debian version
  backend/aggregator/Dockerfile
  backend/aggregator/src/main.rs
Due: build-aggregator, check-aggregator

corrected main.js
  frontend/client/src/main.js
Due: none

feat(ci): add frontend build step
  .gitlab-ci.yml
Due: build-aggregator, build-ingester, check-aggregator, check-ingester, validate-terraform 1/3, validate-terraform 2/3, validate-terraform 3/3

feat(ingester): add deployment to dev
  backend/ingester/Dockerfile
  infra/dev/main.tf
  infra/dev/service.tf
  infra/modules/postgres/module.tf
Due: build-ingester, check-ingester, validate-terraform 1/3

chore: apply prettier
  frontend/client/src/main.js
Due: none

feat(ci): always run jobs
  .gitlab-ci.yml
Due: build-aggregator, build-ingester, check-aggregator, check-ingester, validate-terraform 1/3, validate-terraform 2/3, validate-terraform 3/3

chore: remove axios from dependencies
  frontend/client/package.json
Due: none

chore(client): update package-lock.json
  frontend/client/package-lock.json
Due: none

Delete main.js
  frontend/client/src/assets/main.js
Due: none

Intermediate commit
  frontend/admin/src/App.vue
  frontend/admin/src/services/ClientService.js
Due: none

feat(ingester): cors policy to very permissive
  Cargo.lock
  backend/ingester/Cargo.toml
  backend/ingester/src/main.rs
  frontend/admin/src/services/ClientService.js
Due: build-ingester, check-ingester

feat: swagger
  backend/ingester/swagger.json
Due: build-ingester, check-ingester

Integrate ClientService
  frontend/admin/src/App.vue
  frontend/admin/src/components/ClientList.vue
  frontend/admin/src/components/NavBar.vue
  frontend/admin/src/services/ClientService.js
Due: none

feat(client): prepare update
  frontend/client/package-lock.json
  frontend/client/package.json
  frontend/client/src/App.vue
  frontend/client/src/main.js
Due: none

28.6
  frontend/Dashboard/Dashboards.json
  infra/modules/grafana/module.tf
Due: none

feat(infra): prepare terraform
  .prettierignore
  infra/dev/main.tf
  infra/modules/grafana/module.tf
Due: validate-terraform 1/3

Add API key display modal
  frontend/admin/src/App.vue
Due: none

refactor(terraform): move variables and outputs to extra file
  infra/dev/main.tf
  infra/dev/outputs.tf
  infra/dev/variables.tf
Due: validate-terraform 1/3

simple client fixes
  frontend/client/public/index.html
  frontend/client/src/App.vue
Due: none

feat(infra): deploy grafana dashboard
  infra/modules/grafana/module.tf
Due: none

feat(ci): add admin build script
  .gitlab-ci.yml
Due: build-aggregator, build-ingester, check-aggregator, check-ingester, validate-terraform 1/3, validate-terraform 2/3, validate-terraform 3/3

datasource.yaml in frontend/Datasource
  frontend/Datasource/datasource.yaml
Due: none

feat(dashboard): configure data source
  infra/dev/main.tf
  infra/modules/grafana/module.tf
Due: validate-terraform 1/3

style(client): apply format
  frontend/client/src/App.vue
Due: none

refactor(client): use vite
  frontend/client/.gitignore
  frontend/client/.vscode/extensions.json
  frontend/client/README.md
  frontend/client/babel.config.js
  frontend/client/index.html
  frontend/client/jsconfig.json
  frontend/client/package-lock.json
  frontend/client/package.json
  frontend/client/public/favicon.ico
  frontend/client/public/index.html
  frontend/client/public/vite.svg
  frontend/client/vite.config.js
  frontend/client/vue.config.js
Due: none

fix(infra): influxdb token
  infra/dev/main.tf
Due: validate-terraform 1/3

style(client): apply format
  .prettierignore
  frontend/client/.vscode/extensions.json
  frontend/client/index.html
  frontend/client/vite.config.js
Due: none

Chanbge title
  frontend/admin/index.html
Due: none

feat(backend/ingester): serve admin panel from backend ingester
  Cargo.lock
  backend/ingester/Cargo.toml
  backend/ingester/src/main.rs
Due: build-ingester, check-ingester

feat(frontend): build
  .gitignore
  scripts/build-frontend.sh
Due: none

feat(backend): serve frontend files
  backend/ingester/Dockerfile
  backend/ingester/src/main.rs
  frontend/admin/src/services/ClientService.js
  frontend/client/src/App.vue
  infra/dev/service.tf
Due: build-ingester, check-ingester, validate-terraform 1/3

feat(aggregator): fetch locations
  backend/aggregator/src/main.rs
Due: build-aggregator, check-aggregator

refactor(infra): prepare rewrite
  infra/dev/main.tf
  infra/dev/outputs.tf
  infra/dev/service.tf
  infra/dev/variables.tf
  infra/gce-compute/main.tf
  infra/gitlab-runner/README.md
  infra/gitlab-runner/main.tf
  infra/modules/grafana/module.tf
  infra/modules/influxdb/module.tf
  infra/modules/postgres/module.tf
Due: validate-terraform 1/3, validate-terraform 2/3, validate-terraform 3/3

feat(infra): setup google compute instance
  infra/modules/gc-docker-instance/module.tf
  infra/modules/gc-docker-instance/output.tf
  infra/modules/gc-docker-instance/variables.tf
  infra/prod/main.tf
  infra/prod/modules.tf
  infra/prod/outputs.tf
  infra/prod/variables.tf
Due: none

feat(infra): setup postgres module
  infra/modules/docker-postgres/module.tf
  infra/modules/docker-postgres/outputs.tf
  infra/modules/docker-postgres/variables.tf
  infra/modules/gc-docker-instance/variables.tf
  infra/prod/main.tf
  infra/prod/modules.tf
  infra/prod/outputs.tf
  infra/prod/variables.tf
Due: none

feat(infra): setup multi stage prod deployment
  infra/prod/docker/main.tf
  infra/prod/docker/modules.tf
  infra/prod/docker/outputs.tf
  infra/prod/docker/variables.tf
  infra/prod/gce/main.tf
  infra/prod/gce/modules.tf
  infra/prod/gce/outputs.tf
  infra/prod/gce/variables.tf
  infra/prod/modules.tf
  infra/prod/run.sh
  infra/prod/variables.tf
Due: none

Path conditions:
  build-aggregator: any of: backend/aggregator/**/*, .gitlab-ci.yml
  build-ingester: any of: backend/ingester/**/*, .gitlab-ci.yml
  check-aggregator: any of: backend/aggregator/**/*, .gitlab-ci.yml
  check-ingester: any of: backend/ingester/**/*, .gitlab-ci.yml
  validate-terraform 1/3: any of: infra/dev/**/*, .gitlab-ci.yml
  validate-terraform 2/3: any of: infra/gitlab-runner/**/*, .gitlab-ci.yml
  validate-terraform 3/3: any of: infra/gce-compute/**/*, .gitlab-ci.yml
