Repository j-irion/sksys: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-aggregator, check-ingester, validate-terraform 1/3, validate-terraform 2/3, validate-terraform 3/3, build-aggregator, build-ingester

check-aggregator:
  image: cimg/rust:$RUST_MSRV
  stage: lint
  script:
  - cargo clippy -p aggregator --locked

check-ingester:
  image: cimg/rust:$RUST_MSRV
  stage: lint
  script:
  - cargo clippy -p aggregator --locked

validate-terraform 1/3:
  image: alpine
  stage: lint
  script:
  - apk add terraform
  - terraform -chdir=infra/dev init
  - terraform -chdir=infra/dev validate

validate-terraform 2/3:
  image: alpine
  stage: lint
  script:
  - apk add terraform
  - terraform -chdir=infra/gitlab-runner init
  - terraform -chdir=infra/gitlab-runner validate

validate-terraform 3/3:
  image: alpine
  stage: lint
  script:
  - apk add terraform
  - terraform -chdir=infra/gitlab-runner init
  - terraform -chdir=infra/gitlab-runner validate

build-aggregator:
  image: cimg/rust:$RUST_MSRV
  stage: build
  script:
  - cargo build -p aggregator

build-ingester:
  image: cimg/rust:$RUST_MSRV
  stage: build
  script:
  - cargo build -p ingester

fix(ci): run jobs if pipeline changed
  .gitlab-ci.yml
Due: none

feat(ci): add sccache
  .gitlab-ci.yml
Due: none

fix(ci): add sccache dir
  .gitlab-ci.yml
Due: none

fix: add sccache using apline image
  .gitlab-ci.yml
Due: none

chore(ci): alpine do not cache
  .gitlab-ci.yml
Due: none

fix(ci): add musl
  .gitlab-ci.yml
Due: none

fix(ci): add openssl-dev
  .gitlab-ci.yml
Due: none

feat(ci): reorder build structure
  .gitlab-ci.yml
Due: none

fix(ci): typo
  .gitlab-ci.yml
Due: none

fix(ci): update RUSTC_WRAPPER
  .gitignore
  .gitlab-ci.yml
Due: none

feat: remove cleanup job
  .gitlab-ci.yml
Due: none

docs(infra): update to InfluxDB
  .editorconfig
  README.md
  backend/aggregator/README.md
  infra/README.md
  infra/gitlab-runner/README.md
Due: check-aggregator, validate-terraform 2/3, build-aggregator

fix(ci): Terraform validation job
  .gitlab-ci.yml
Due: none

Fetch and implement available locations
  frontend/admin/src/components/NavBar.vue
Due: none

input type="number"
  frontend/client/package-lock.json
  frontend/client/package.json
Due: none

feat(ci): add more logging
  .gitlab-ci.yml
Due: none

feat(ci): remove SCCACHE_LOG
  .gitlab-ci.yml
Due: none

feat(ci): disable caching for some jobs
  .gitlab-ci.yml
Due: none

feat(ci): upgrade rust version
  .gitlab-ci.yml
Due: none

feat(ci): remove after_script
  .gitlab-ci.yml
Due: none

20.6 aggregater problems
  infra/modules/grafana/module.tf
Due: none

Create rudimentary client service
  frontend/admin/src/services/ClientService.js
Due: none

completely
  frontend/client/src/App.vue
  frontend/client/src/assets/main.js
Due: none

fix: gice unique names of swagger endpoints
  backend/ingester/swagger.json
Due: check-ingester, build-ingester

feat(ci): add job to update cargo cache
  .gitlab-ci.yml
Due: none

feat(ingester/swagger): add submit endpoint
  backend/ingester/swagger.json
Due: check-ingester, build-ingester

feat: update swag
  backend/ingester/swagger.json
  backend/ingester/swagger.v1.json
Due: check-ingester, build-ingester

fix(ingester/swagger): use correct response type in device craetion
  backend/ingester/swagger.json
Due: check-ingester, build-ingester

fix(prettier): ignore generated sqlx check
  .prettierignore
Due: none

feat(aggregator): add dependencies
  Cargo.lock
Due: none

fix(ingester/swag): use correct namespace
  backend/ingester/swagger.json
Due: check-ingester, build-ingester

fix: clippy errors
  backend/ingester/src/main.rs
Due: check-ingester, build-ingester

feat: update implementation
  Cargo.lock
  backend/ingester/Cargo.toml
  backend/ingester/migrations/1_create_devices.down.sql
  backend/ingester/migrations/1_create_devices.up.sql
  backend/ingester/sqlx-data.json
  backend/ingester/src/main.rs
  backend/ingester/swagger.json
Due: check-ingester, build-ingester

fix(ingester/swagger): add missing consume
  backend/ingester/swagger.json
Due: check-ingester, build-ingester

fix: give correct description of swagger document
  backend/ingester/swagger.json
Due: check-ingester, build-ingester

feat: force recompile after changes in migrations
  backend/ingester/Cargo.toml
  backend/ingester/build.rs
Due: check-ingester, build-ingester

fix: add note to unused API-Endpoint
  backend/ingester/swagger.json
Due: check-ingester, build-ingester

fix: use JSON Body as transport for authtoken
  backend/ingester/src/main.rs
Due: check-ingester, build-ingester

status update
  Cargo.lock
  backend/ingester/Cargo.toml
  backend/ingester/src/main.rs
Due: check-ingester, build-ingester

add swag
  backend/ingester/src/main.rs
  backend/ingester/swagger.v1.json
Due: check-ingester, build-ingester

Path conditions:
  check-aggregator: any of: backend/aggregator/**/*
  check-ingester: any of: backend/ingester/**/*
  validate-terraform 1/3: any of: infra/dev/**/*
  validate-terraform 2/3: any of: infra/gitlab-runner/**/*
  validate-terraform 3/3: any of: infra/gce-compute/**/*
  build-aggregator: any of: backend/aggregator/**/*
  build-ingester: any of: backend/ingester/**/*
